@page
@model MegaDesk.Pages.Quotes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Quote</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Quote.ID" />
            <div class="form-group">
                <label asp-for="Quote.Date" class="control-label"></label>
                <input asp-for="Quote.Date" class="form-control" />
                <span asp-validation-for="Quote.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.Width" class="control-label"></label>
                <input asp-for="Quote.Width" class="form-control" />
                <span asp-validation-for="Quote.Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.Depth" class="control-label"></label>
                <input asp-for="Quote.Depth" class="form-control" />
                <span asp-validation-for="Quote.Depth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.CountDrawer" class="control-label"></label>
                <input asp-for="Quote.CountDrawer" class="form-control" />
                <span asp-validation-for="Quote.CountDrawer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.SurfaceMaterial" class="control-label"></label>
                <input asp-for="Quote.SurfaceMaterial" class="form-control" />
                <span asp-validation-for="Quote.SurfaceMaterial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.CustomerName" class="control-label"></label>
                <input asp-for="Quote.CustomerName" class="form-control" />
                <span asp-validation-for="Quote.CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.BuildOption" class="control-label"></label>
                <input asp-for="Quote.BuildOption" class="form-control" />
                <span asp-validation-for="Quote.BuildOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.FinalCost" class="control-label"></label>
                <input asp-for="Quote.FinalCost" class="form-control" />
                <span asp-validation-for="Quote.FinalCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
